Checks:
  - -*
  - bugprone-*
  - clang-analyzer-*
  - clang-diagnostic-*
  - concurrency-*
  - cppcoreguidelines-*
  - hicpp-*
  - misc-*
  - modernize-*
  - performance-*
  - portability-*
  - readability-*
  - -cppcoreguidelines-avoid-magic-numbers
  - -hicpp-uppercase-literal-suffix
  - -modernize-use-trailing-return-type
  - -readability-avoid-unconditional-preprocessor-if
  - -readability-identifier-length
  - -readability-magic-numbers
  - -readability-qualified-auto
  - -readability-redundant-access-specifiers
  - -readability-redundant-preprocessor
  - -readability-uppercase-literal-suffix
