Style:
  FullyQualifiedNamespaces: true
InlayHints:
  Enabled: true
  BlockEnd: true
  Designators: true
  ParameterNames: true
  DeducedTypes: true
  DefaultArguments: true
  TypeNameLimit: 0
Diagnostics:
  UnusedIncludes: true
  MissingIncludes: true
  Includes:
    AnalyzeAngledIncludes: true
Completion:
  AllScopes: true
Hover:
  ShowAKA: true
