Style:
  FullyQualifiedNamespaces: Yes
InlayHints:
  Enabled: Yes
  BlockEnd: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  DefaultArguments: Yes
  TypeNameLimit: 0
Diagnostics:
  UnusedIncludes: Yes
  MissingIncludes: Yes
  Includes:
    AnalyzeAngledIncludes: Yes
Completion:
  AllScopes: Yes
Hover:
  ShowAKA: Yes
