[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	quotepath = false
#	autocrlf = true
	safecrlf = true
	whitespace = blank-at-eol,space-before-tab,tab-in-indent,blank-at-eof
[init]
	defaultBranch = master
[apply]
	ignoreWhitespace = false
	whitespace = warn
[branch]
	autoSetupRebase = always
[diff]
	algorithm = histogram
	colorMoved = true
	renames	= copies
	findcopiesharder = true
	statWidth = 1024
[fetch]
	prune = true
[instaweb]
	local = true
	httpd = webrick
[log]
	decorate = full
	follow = true
[merge]
	ff = false
	renames = copies
	directoryRenames = true
[pull]
	ff = only
[push]
	recurseSubmodules = check
[rebase]
	stat = true
[stash]
	showPatch = true
[status]
	renames = copies
	submoduleSummary = true
[submodules]
	recurse = true
[svn]
	findcopiesharder = true
	pushmergeinfo = true
	edit = false
	followparent = true
[transfer]
	fsckObjects = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitconfig.machine
	path = ~/.gitconfig.user
