[color]
	ui = auto
[apply]
	ignoreWhitespace = false
	whitespace = warn
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	quotepath = false
#	autocrlf = true
	safecrlf = true
[diff]
#	renames	= copies
[instaweb]
	local = true
	httpd = webrick
[svn]
#	findcopiesharder = true
	pushmergeinfo = true
	edit = false
	followparent = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[include]
	path = ~/.gitconfig.machine
	path = ~/.gitconfig.user
